@using System.Net
@model Municipality.Model.LoginVm

@{
    Layout = null;
    var returnUrl = ViewData["ReturnUrl"] as string;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <!-- Bootstrap -->
    <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="row">
        <div class="col-md-4">
            <form action="User/Login/?ReturnUrl=@WebUtility.UrlEncode(returnUrl)" method="post">
                <div class="container">
                    <div class="form-row align-items-center" style="padding: 25%">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group col-auto">
                            <label asp-for="UserName" class="control-label"></label>
                            <input asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-auto">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group col-auto">
                            <div class="checkbox">
                                <label>
                                    <input asp-for="IsRemember" /> @Html.DisplayNameFor(model => model.IsRemember)
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-auto">
                            <input type="submit" value="Login" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
